<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".PenguinoApp"
        android:enableOnBackInvokedCallback="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Penguino"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.screens.ComposeActivity"
            android:exported="true"
            android:label="@string/title_activity_compose"
            android:theme="@style/Theme.Penguino">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".data.local.BleServiceDataSource"
            android:exported="false" />

        <receiver android:name=".data.receivers.BleStatusReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.penguino.BleServiceDataSource.ACTION_GATT_CONNECTING" />
                <action android:name="com.penguino.BleServiceDataSource.ACTION_GATT_CONNECTED" />
                <action android:name="com.penguino.BleServiceDataSource.ACTION_GATT_DISCONNECTING" />
                <action android:name="com.penguino.BleServiceDataSource.ACTION_GATT_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <provider
            android:authorities="com.penguino.FileProvider"
            android:name=".MyFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
    <queries>
        <intent>
            <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
        </intent>
    </queries>
</manifest>